.feature {
    width: auto;
    max-width: 300px; 
    height: 204px;
}

.container {
    background-color: #eee;
}

.quote {
	
font-family: 'Poiret One', cursive;
font-style: italic;	
}

.desc {
	font-family: 'Yellowtail', cursive;
	color: #949292;
	
}
.title {
	font-family: 'Barrio', cursive;
}


